.searchPart{
	width:100%;
	height:.9rem;
	background: #fff;
	display: flex;

	/*position: fixed;
	top:0;
	left:0;*/


	justify-content:space-between;
	align-content: center
}
.searchPart .logo{
	width: 0.58rem;
	height: 0.9rem;
	margin: 0 15px; 
	background: url("../../../common/img/logo.jpg")  no-repeat  center  center;
	background-size: contain;

}
#search{
	width:4.9rem;
	height:0.56rem;
	background: #F4F4F4;
	margin: .16rem 0;
	border-radius: 0.16rem;
}
 #search>.one{
	width: .55rem;
	font-size: 40px;
	display: inline-block;
	margin-bottom: 0.1rem
}
#search>input{
	width: 4.3rem;
	height: 0.26rem;
	background: #F4F4F4;
	outline: none;
	border: none;
	font-size: 24px
}
.searchPart>i{
	padding:.3rem .3rem .3rem
}
.searchPart>.two{
	font-size: 30px
}
.banner{
	width:100%;
	height:3.9rem;
	display:flex
}
.swiper-container{
	height:3.9rem;
	width: 100%;
}
#navlist{
	width:100%;
	height: 2.6rem;
	display: flex;
	background:#fff;
	padding:.2rem .1rem
}
#navlist>li{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-right:.25rem
}
#navlist>li>img{
	width:1.6rem;
	height:1.6rem;
}
#navlist>li>span{
	width: 1.6rem;
	height:.44rem;
	padding-top: .12rem;
	font-size:.28rem;
	color:#666
}
.h_advertisement{
	width:100%;
	height: 4.4rem;
}
.h_advertisement>.h_advertisement_title{
	width:100%;
	height:0.5rem;
	display: flex;
	background: #fff;
}
.h_advertisement>.h_advertisement_title>i{
	font-size: 50px;
	color: #FC8E8F;
	margin-right: 0.2rem
}
.h_advertisement>.h_advertisement_title>span{
	display: inline-block;
	line-height: 0.5rem;
	font-family: "微软雅黑";
	color: #929292;
}
.h_popularList{
	width: 100%;
	background: #fff;
}
.h_popularList>.h_popular_title{
	width: 100%;
	height: 1.1rem;
	line-height: 1.4rem;
	font-size: 40px;
	text-align: center;
	font-weight: bold
}
.h_popularList>.h_popular_list{
	width: 100%;
	height: 2.4rem;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 10px  5px
}
.h_popularList>.h_popular_list>li{
	width: 1.6rem;
	height: 2.16rem;
	margin-right:10px 
}
.h_popularList>.h_popular_list>li>.h_popular_list_pic{
	width: 1.6rem;
	height: 1.6rem;
}
.h_popularList>.h_popular_list>li>.h_popular_list_info{
	width: 100%;
	margin-top: 0.03rem;
	display: block;
	text-align: center
}
.h_popularList>.h_popular_more{
	width: 100%;
	height: 0.86rem;
	border-top: 1px solid #eee;
    color: #f36 !important;
    padding: .3rem;
    text-align: center;
    background-color: #fff;
    margin-top: -0.2rem;
    margin-bottom: 0.2rem;
}
.h_popularList>.h_popular_more>a{
	color: #f36 !important;
}
.h_popularList>.h_popular_more>i{
	font-size: 30px;
	margin-left: 0.01rem;
}
#goodsTitle,#goodsTitleFalse{
	width: 100%;
	height: 0.8rem;
	background: #fff;
	font-size: 30px;
	position: relative;
}
#goodsTitle>ul,#goodsTitleFalse>ul{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-between;
	position: absolute;
	left: 0;
	top: 0;
}
#goodsTitle>ul>li,#goodsTitleFalse>ul>li{
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: .8rem
}
#goodsTitle>ul>li>a,#goodsTitleFalse>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
}
#goodsTitle>ul>li>.active{
	color:#f36
}
.goodsList{
	width: 100%;
	height: auto;
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.goodsList>.goodsItem{
	width: 3.6rem;
	height: 5.76rem;
	background: #fff;
	margin: 0 6px 7.469px 6px;
}
.goodsList>.goodsItem>.goodsItem_show{
	width: 100%;
	height: 4.68rem;
}
.goodsList>.goodsItem>.goodsItem_show>img{
	width: 100%;
	height: 100%;
}
.goodsList>.goodsItem>.goodsItem_title{
	display: block;
    width: 100%;
    margin-top: 0.18rem;
    font-size: 0.22rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden;
    height: .34rem;
    color: #333;
}
.goodsList>.goodsItem>.goodsItem_Info{
	width: 100%;
	height: 0.42rem;
	text-align: center;
	margin-bottom: .5rem
}
.goodsList>.goodsItem>.goodsItem_Info>.price{
	color: #FF3366;
    text-align: center;
    font-size: 0.26rem;
    margin-right: 0.2rem;
    line-height: 1;
}
.goodsList>.goodsItem>.goodsItem_Info>i{
	display: inline-block;
    width: .23rem;
    height: .22rem;
    margin-right: 0.07rem;
	vertical-align: -0.01rem;
	font-size: 26px
}
.goodsList>.goodsItem>.goodsItem_Info>.num{
	display: inline-block;
	margin-left: .1rem;
	height:.22rem;
	line-height: .22rem 
}

/* 滚动 */
body>#root,#root>div{
	height: 100%;
}
.wrapper{      
	position: relative;
	height: 100%;
	overflow:hidden;
}
.wrapper>.content{
	padding-bottom: 1rem
}