#footer{
    width: 100%;
    height: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    box-shadow: 0 -0.266667vw 0.533333vw rgba(0,0,0,.1);
    background: #fff;
}

#footer>ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#footer>ul>li{
    width: 100%;
    height: 100%;
}

#footer>ul>li>a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

#footer>ul>li>a>i{
    font-size:38px;
}

#footer>ul>li>a>span{
    font-size: 24px;
}

#footer>ul>li>.active{
    color: #0089dc;
}

